<div id="main-wrapper">

  <app-header></app-header>

  <app-sidebar></app-sidebar>

    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper"> 
            
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">

              <app-breadcrumbs></app-breadcrumbs>

            <!-- ============================================================== -->
            <!-- Inicio Contenido de la Pagina -->
            <!-- ============================================================== -->

               <router-outlet></router-outlet> 
          <!-- 
            <div class="row">
              <div class="col-12">
                  <div class="card">
                      <div class="card-body">
                          Esto es un texto, dentro de una card .
                      </div>
                  </div>
              </div>
          </div> -->
          <!-- ============================================================== -->
          <!--  Fin Contenido de la Pagina -->
          <!-- ============================================================== -->


            </div>
            <!-- ============================================================== -->
            <!-- Fin Container fluid  -->
            <!-- ============================================================== -->

    </div>
    
    <!-- ============================================================== -->
    <!-- Fin Page wrapper  -->
    <!-- ============================================================== -->


</div>